* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(251,181,75,0.7);
  height: 100vh;
}
#root {
  width: 100%;
}
.main {
  height: 100%;
  margin: 0 auto;
  width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* верняя часть с ссылками на переклчения между станицами */
.header {
  display: block;
  top: 0;
  margin: 20px auto;
  padding: 20px 0 10px;
  width: 800px;
  height: 100%;
  font-size: 28px;
  text-transform: uppercase;
  color: rgb(32, 2, 2);
  background-color: #ffffffd0;
}
.header p {
  text-align: center;
}
.routes {
  height: 100%;
  flex-grow: 90%;
}
.about {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  color: #150101;
}
.about__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
}
li {
  width: 49%;
  padding: 5px 0;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: rgb(232, 243, 252);
  box-shadow: 0 5px 3px rgb(138, 155, 170, .6);
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
li, a {
  display: block;
  list-style: none;
  text-decoration: none;
  color: inherit;
  border-radius: 8px;
}
li:hover {
  cursor: pointer;
  background-color: rgb(232, 243, 252);
  box-shadow: 0 5px 10px rgba(83, 135, 180, 0.7);
}
li:focus {
  background-color: rgb(232, 243, 252);
  box-shadow: 0 5px 3px rgba(83, 135, 180, 0.7);
}

/* картинка-анимация в случае победы */
.image {
  top: 0;
  position: absolute;
  z-index: 3;
}
.img {
  width: 1640px;
  height: 910px;
  background-image: url('./components/Images/win.gif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: fadeIn 1s ease-out forwards;
}
.image button {
  position: absolute;
  opacity: 1;
  width: 300px;
  padding: 10px;
  top: 85%;
  left: 42%;
}
@keyframes fadeIn {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  50% {
    width: 820px;
    height: 455px;
    opacity: 0.5;
  }
  100% {
    width: 1640px;
    height: 910px;
    opacity: 1;
  }
}
/* разметка заголовка при выборе вида звука - на данный момент не используется в приложении */
/*.title_sounds {
  padding: 0px 0 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}*/
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
/* разметка кнопок - по тегу, класс опционально в зависимости от требований к кнопке */
.btn {
  color: rgb(6, 1, 1);
  background-color: rgb(232, 243, 252);
  font-size: 1.8em;
  text-transform: uppercase;
  padding: 1% 10%;
  width: 100%;
  display: block;
  margin: 3px auto 0;
  border-radius: 10px;
  box-shadow: 0 5px 3px rgb(138, 155, 170, .6);
  transition: all 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background-color: rgba(246,157,67, 0.6);
  box-shadow: 0 5px 3px rgba(83, 135, 180, 0.7);
}
button:active {
  background-color: rgb(246,157,67);
  box-shadow: 0 5px 5px rgba(83, 135, 180, 0.7);
}
.buttons_letters {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
}
.buttons_letters > button {
  color: rgb(6, 1, 1);
  background-color: rgb(240, 248, 255);
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 2px 2%;
  width: 20%;
  display: block;
  margin: 0px auto 15px;
  border-radius: 10px;
  box-shadow: 0 5px 3px rgb(138, 155, 170, .6);
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.btn_syllable_flex {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}
.btn_syllable_flex > button {
  width: 250px;
}
.btn_syllable {
  color: rgb(6, 1, 1);
  background-color: rgb(240, 248, 255);
  font-size: 1.8em;
  text-transform: uppercase;
  padding: 0.5% 10%;
  width: 100%;
  display: block;
  margin: 3px auto 0;
  border-radius: 10px;
  box-shadow: 0 5px 3px rgb(138, 155, 170, .6);
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.btn_els {
  padding: 15px;
  margin: 0 auto;
}
.btn_syllable.active {
  background-color: rgb(246,157,67);
}
/* карточки слогов */
.random_letters {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 650px;
  background-color: #fff;
}
.syl {
  height: 550px;
}
/* описание - какие звуки мы изучаем */
.description_sounds {
  margin: 10px;
  display: block;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}
.description_sounds span {
  display: block;
  margin: 10px;
  text-align: center;
  font-weight: normal;
}
/* прогресс бар со счетчиком */
.progress_counter {
  width: 100%;
  display: flex;
  align-items: center;
}
.counter_flex {
  width: 100%;
  display: flex;
  align-items: center;
}
.count {
  font-size: 40px;
  text-align: center;
  height: 50px;
  width: 60px;
  border: 1px solid #000;
}
/* карточки слогов */
.letters {
  margin: 0 auto 10px ;
  padding: 10px;
  width: 800px;
  height: 440px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
/* основная разметка для согласных и гласных букв в карточке */
.consonant .front,
.consonant .back,
.vowels .front,
.vowels .back {
  position: absolute;
  height: 400px;
  backface-visibility: hidden;
  border-radius: 8px;
  min-width: 300px;
  border: 1px solid #0c0ce7;
  font-size: 350px;
  text-align: center;
  background-color: aliceblue;
}
/* переворот карточки */
.flipped {
  transform: rotateY(180deg);
}
.back {
  transform: rotateY(180deg);
}
.card {
  padding-bottom: 50px;
  font-size: 36px;
  box-shadow: 2px 2px 15px #706e6e;
  position: relative;
  border-radius: 8px;
  min-width: 300px;
  height: 400px;
  transition: transform 1s;
  transform-style: preserve-3d;
}
/* плюс - для слогоа и для слов */
.plus {
  font-size: 110px;
}
/* карточки слов - состоящих из слогов */
.words {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 630px;
}
.syllables {
  margin: 60px 0 30px;
  padding: 10px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
/* разметка слога */
.syllable .front,
.syllable .back {
  position: absolute;
  padding: 70px 50px 70px;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  min-width: 502px;
  border: 1px solid #0c0ce7;
  font-size: 230px;
  text-align: center;
  background-color: aliceblue;
}
.card_syllable {
  font-size: 36px;
  box-shadow: 2px 2px 15px #706e6e;
  position: relative;
  border-radius: 8px;
  min-width: 502px;
  height: 400px;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.letter_word {
  width: 400px;
}